<div class="container mt-5">
    <h3>Estação 1</h3>
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Temperatura</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Quantidade de pulsos</th>
                    <th scope="col">Tempo sem chuva</th>
                    <th scope="col">Direção do vento</th>
                    <th scope="col">Velocidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Estação Metereológica 1</td>
                    <td>11/04/2019</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--  -->

    <div class="container mt-2" *ngIf="totalPages > 0">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" [attr.disabled]="currentPage == 1" (click)="changePage(1)"><a class="page-link">Primeira</a></li>

                <li class="page-item" [attr.disabled]="currentPage == 1" (click)="navigatePages(-1)">
                    <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
                </li>


                <li class="page-item" [ngClass]="{active:currentPage == page}" *ngFor="let page of pages" (click)="changePage(page)"><a class="page-link">{{page}}</a></li>


                <li class="page-item" [ngClass]="{active:currentPage == totalPages}" [attr.disabled]="currentPage == totalPages" (click)="changePage(totalPages)"><a class="page-link">Última</a></li>

                <li class="page-item" [attr.disabled]="currentPage == totalPages" (click)="navigatePages(1)">
                    <a class="page-link"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>